examples/Homekit WB-MSW.json
[
    {
        "id": "6580eddd5f63c372",
        "type": "group",
        "z": "19063bf6.0d6934",
        "name": "WB-MSW 31",
        "style": {
            "label": true,
            "fill": "#e3f3d3",
            "fill-opacity": "0.5"
        },
        "nodes": [
            "69778624e2f8a2ea",
            "4192c9e06361d356",
            "ea11f776eef1f576",
            "55425b3dd563641c",
            "49e3a58a3f266062",
            "ffb347cddf99bfa3",
            "68ab15caabb5b502",
            "5e6ce3eec8350f34",
            "9f9f45f06d53f108",
            "de8cf0b6e8ca579c",
            "678b7a4f4f36f9b8",
            "a52112e4a1c896a5",
            "5cd05ace13505c0d",
            "aba19d4384d7d641",
            "4617e0be36de1da8",
            "1447f7ad052a9c46",
            "a5f03e2d5887bab3"
        ],
        "env": [],
        "x": 874,
        "y": 599,
        "w": 552,
        "h": 382
    },
    {
        "id": "69778624e2f8a2ea",
        "type": "wirenboard-in",
        "z": "19063bf6.0d6934",
        "g": "6580eddd5f63c372",
        "name": "msw-31",
        "server": "e72d9d72.a206",
        "channel": [
            "/devices/wb-msw-v3_31/controls/Temperature",
            "/devices/wb-msw-v3_31/controls/Humidity",
            "/devices/wb-msw-v3_31/controls/Air Quality (VOC)",
            "/devices/wb-msw-v3_31/controls/CO2",
            "/devices/wb-msw-v3_31/controls/Buzzer",
            "/devices/wb-msw-v3_31/controls/Red LED",
            "/devices/wb-msw-v3_31/controls/Green LED",
            "/devices/wb-msw-v3_31/controls/LED Period (s)",
            "/devices/wb-msw-v3_31/controls/Sound Level",
            "/devices/wb-msw-v3_31/controls/Illuminance",
            "/devices/wb-msw-v3_31/controls/Max Motion",
            "/devices/wb-msw-v3_31/controls/Current Motion"
        ],
        "outputAtStartup": true,
        "x": 960,
        "y": 640,
        "wires": [
            [
                "5e6ce3eec8350f34",
                "372952a7276a6dd0",
                "678b7a4f4f36f9b8",
                "5a884c57c9bdf3e4",
                "aba19d4384d7d641",
                "4617e0be36de1da8"
            ]
        ]
    },
    {
        "id": "4192c9e06361d356",
        "type": "homekit-service",
        "z": "19063bf6.0d6934",
        "g": "6580eddd5f63c372",
        "isParent": true,
        "hostType": "0",
        "bridge": "e8f0dcbed6985883",
        "accessoryId": "",
        "parentService": "",
        "name": "Температура",
        "serviceName": "TemperatureSensor",
        "topic": "",
        "filter": false,
        "manufacturer": "Склад",
        "model": "1.4.3",
        "serialNo": "WB-MSW-31",
        "firmwareRev": "1.4.3",
        "hardwareRev": "1.4.3",
        "softwareRev": "1.4.3",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 1300,
        "y": 640,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ea11f776eef1f576",
        "type": "homekit-service",
        "z": "19063bf6.0d6934",
        "g": "6580eddd5f63c372",
        "isParent": false,
        "hostType": "0",
        "bridge": "e8f0dcbed6985883",
        "accessoryId": "",
        "parentService": "4192c9e06361d356",
        "name": "Влажность",
        "serviceName": "HumiditySensor",
        "topic": "",
        "filter": false,
        "manufacturer": "NRCHKB",
        "model": "1.4.3",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.4.3",
        "hardwareRev": "1.4.3",
        "softwareRev": "1.4.3",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 1290,
        "y": 700,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "55425b3dd563641c",
        "type": "homekit-service",
        "z": "19063bf6.0d6934",
        "g": "6580eddd5f63c372",
        "isParent": false,
        "hostType": "0",
        "bridge": "e8f0dcbed6985883",
        "accessoryId": "",
        "parentService": "4192c9e06361d356",
        "name": "CO2",
        "serviceName": "CarbonDioxideSensor",
        "topic": "",
        "filter": false,
        "manufacturer": "NRCHKB",
        "model": "1.4.3",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.4.3",
        "hardwareRev": "1.4.3",
        "softwareRev": "1.4.3",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 1270,
        "y": 760,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "49e3a58a3f266062",
        "type": "homekit-service",
        "z": "19063bf6.0d6934",
        "g": "6580eddd5f63c372",
        "isParent": false,
        "hostType": "0",
        "bridge": "e8f0dcbed6985883",
        "accessoryId": "",
        "parentService": "4192c9e06361d356",
        "name": "Качество воздуха",
        "serviceName": "AirQualitySensor",
        "topic": "",
        "filter": false,
        "manufacturer": "NRCHKB",
        "model": "1.4.3",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.4.3",
        "hardwareRev": "1.4.3",
        "softwareRev": "1.4.3",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 1310,
        "y": 820,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ffb347cddf99bfa3",
        "type": "homekit-service",
        "z": "19063bf6.0d6934",
        "g": "6580eddd5f63c372",
        "isParent": false,
        "hostType": "0",
        "bridge": "e8f0dcbed6985883",
        "accessoryId": "",
        "parentService": "4192c9e06361d356",
        "name": "Освещенность",
        "serviceName": "LightSensor",
        "topic": "",
        "filter": false,
        "manufacturer": "NRCHKB",
        "model": "1.4.3",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.4.3",
        "hardwareRev": "1.4.3",
        "softwareRev": "1.4.3",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 1300,
        "y": 880,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "68ab15caabb5b502",
        "type": "homekit-service",
        "z": "19063bf6.0d6934",
        "g": "6580eddd5f63c372",
        "isParent": false,
        "hostType": "0",
        "bridge": "e8f0dcbed6985883",
        "accessoryId": "",
        "parentService": "4192c9e06361d356",
        "name": "Движение",
        "serviceName": "MotionSensor",
        "topic": "",
        "filter": false,
        "manufacturer": "NRCHKB",
        "model": "1.4.3",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.4.3",
        "hardwareRev": "1.4.3",
        "softwareRev": "1.4.3",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 1290,
        "y": 940,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5e6ce3eec8350f34",
        "type": "function",
        "z": "19063bf6.0d6934",
        "g": "6580eddd5f63c372",
        "name": "",
        "func": "let homekit = {};\n\nfor (var i in msg.data_array) {\n    var item = msg.data_array[i];\n\n    if ((item.topic).split('/Temperature').length > 1) {\n        homekit.CurrentTemperature = 'error' in item && item.error ? \"NO_RESPONSE\" : parseFloat(item.payload);\n        return false;\n    } \n}\n\nif (!Object.keys(homekit).length) return null;\n\nmsg.payload = homekit;\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1115,
        "y": 640,
        "wires": [
            [
                "9f9f45f06d53f108"
            ]
        ],
        "l": false
    },
    {
        "id": "9f9f45f06d53f108",
        "type": "rbe",
        "z": "19063bf6.0d6934",
        "g": "6580eddd5f63c372",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1175,
        "y": 640,
        "wires": [
            [
                "4192c9e06361d356"
            ]
        ],
        "l": false
    },
    {
        "id": "de8cf0b6e8ca579c",
        "type": "rbe",
        "z": "19063bf6.0d6934",
        "g": "6580eddd5f63c372",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1175,
        "y": 700,
        "wires": [
            [
                "ea11f776eef1f576"
            ]
        ],
        "l": false
    },
    {
        "id": "678b7a4f4f36f9b8",
        "type": "function",
        "z": "19063bf6.0d6934",
        "g": "6580eddd5f63c372",
        "name": "to homekit",
        "func": "let co2WarnLevel = 1000;\n\nlet homekit = {};\n\nfor (var i in msg.data_array) {\n    var item = msg.data_array[i];\n    \n    if ((item.topic).split('/CO2').length > 1) {\n        if ('error' in item && item.error) {\n            homekit.CarbonDioxideLevel = \"NO_RESPONSE\";\n            homekit.CarbonDioxideDetected = \"NO_RESPONSE\";\n        } else {\n            homekit.CarbonDioxideLevel = parseFloat(item.payload);\n            homekit.CarbonDioxideDetected = homekit.CarbonDioxideLevel > co2WarnLevel ? 1 : 0;\n        }\n        return false;\n    } \n}\n\nif (!Object.keys(homekit).length) return null;\n\nmsg.payload = homekit;\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1115,
        "y": 760,
        "wires": [
            [
                "a52112e4a1c896a5"
            ]
        ],
        "l": false
    },
    {
        "id": "a52112e4a1c896a5",
        "type": "rbe",
        "z": "19063bf6.0d6934",
        "g": "6580eddd5f63c372",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1175,
        "y": 760,
        "wires": [
            [
                "55425b3dd563641c"
            ]
        ],
        "l": false
    },
    {
        "id": "5cd05ace13505c0d",
        "type": "rbe",
        "z": "19063bf6.0d6934",
        "g": "6580eddd5f63c372",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1175,
        "y": 820,
        "wires": [
            [
                "49e3a58a3f266062"
            ]
        ],
        "l": false
    },
    {
        "id": "aba19d4384d7d641",
        "type": "function",
        "z": "19063bf6.0d6934",
        "g": "6580eddd5f63c372",
        "name": "to homekit",
        "func": "let homekit = {};\n\nfor (var i in msg.data_array) {\n    var item = msg.data_array[i];\n    if ((item.topic).split('/Illuminance').length > 1) {\n        if ('error' in item && item.error) { \n            homekit.CurrentAmbientLightLevel = \"NO_RESPONSE\";\n        } else {\n            let illuminance = parseFloat(item.payload);\n            if (illuminance <= 0) illuminance = 0.0001;\n            homekit.CurrentAmbientLightLevel = illuminance;\n        }\n        return false;\n    }\n}\n\nif (!Object.keys(homekit).length) return null;\n\nmsg.payload = homekit;\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1115,
        "y": 880,
        "wires": [
            [
                "1447f7ad052a9c46"
            ]
        ],
        "l": false
    },
    {
        "id": "4617e0be36de1da8",
        "type": "function",
        "z": "19063bf6.0d6934",
        "g": "6580eddd5f63c372",
        "name": "to homekit",
        "func": "let motionLevel = 50;\n\nlet homekit = {};\n\nfor (var i in msg.data_array) {\n    var item = msg.data_array[i];\n    \n    if ((item.topic).split('/Current Motion').length > 1) {\n        homekit.MotionDetected = 'error' in item && item.error ? \"NO_RESPONSE\" :parseFloat(item.payload) >= motionLevel;\n        return false;\n    }\n}\n\nif (!Object.keys(homekit).length) return null;\n\nmsg.payload = homekit;\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1115,
        "y": 940,
        "wires": [
            [
                "a5f03e2d5887bab3"
            ]
        ],
        "l": false
    },
    {
        "id": "1447f7ad052a9c46",
        "type": "rbe",
        "z": "19063bf6.0d6934",
        "g": "6580eddd5f63c372",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1175,
        "y": 880,
        "wires": [
            [
                "ffb347cddf99bfa3"
            ]
        ],
        "l": false
    },
    {
        "id": "a5f03e2d5887bab3",
        "type": "rbe",
        "z": "19063bf6.0d6934",
        "g": "6580eddd5f63c372",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1175,
        "y": 940,
        "wires": [
            [
                "68ab15caabb5b502"
            ]
        ],
        "l": false
    },
    {
        "id": "e72d9d72.a206",
        "type": "wirenboard-server",
        "name": "WirenBoard",
        "host": "192.168.1.3",
        "mqtt_port": "",
        "mqtt_username": "",
        "mqtt_password": ""
    },
    {
        "id": "e8f0dcbed6985883",
        "type": "homekit-bridge",
        "bridgeName": "Node-Red Sensors",
        "pinCode": "111-11-111",
        "port": "",
        "advertiser": "bonjour-hap",
        "allowInsecureRequest": false,
        "manufacturer": "NRCHKB",
        "model": "1.4.3",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.4.3",
        "hardwareRev": "1.4.3",
        "softwareRev": "1.4.3",
        "customMdnsConfig": false,
        "mdnsMulticast": true,
        "mdnsInterface": "",
        "mdnsPort": "",
        "mdnsIp": "",
        "mdnsTtl": "",
        "mdnsLoopback": true,
        "mdnsReuseAddr": true,
        "allowMessagePassthrough": true
    }
]
