examples/Homekit WB-RGBW (3_0) 1-channel.json
[
    {
        "id": "efafb19ad9a0bf6e",
        "type": "group",
        "z": "d60a5ec574524af9",
        "name": "WB-RGBW 1-channel",
        "style": {
            "fill": "#ffffbf",
            "label": true,
            "fill-opacity": "0.5"
        },
        "nodes": [
            "141d9d9f5d350d73",
            "6f454a2f32f36fcf",
            "1b7c2161eb3f9ab2",
            "27c85eb4fc50fc3e",
            "2f4d491ad4152da9",
            "9c190eabe592f57f",
            "e586ba9bf73eb4f6",
            "74a7f241740d6b36",
            "88b7c5fa3fe565bc",
            "fc479964a0636e92",
            "91e80284194dfb61",
            "3a656746e7cda095"
        ],
        "env": [],
        "x": 334,
        "y": 1099,
        "w": 1152,
        "h": 162
    },
    {
        "id": "141d9d9f5d350d73",
        "type": "homekit-service",
        "z": "d60a5ec574524af9",
        "g": "efafb19ad9a0bf6e",
        "isParent": true,
        "bridge": "99f95ec8.0cb0c",
        "parentService": "",
        "name": "Bulb",
        "serviceName": "Lightbulb",
        "topic": "",
        "filter": false,
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{    \"Brightness\":{        \"maxValue\": 100,        \"minValue\": 0,        \"minStep\": 1    }}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 970,
        "y": 1140,
        "wires": [
            [
                "1b7c2161eb3f9ab2"
            ],
            []
        ]
    },
    {
        "id": "6f454a2f32f36fcf",
        "type": "function",
        "z": "d60a5ec574524af9",
        "g": "efafb19ad9a0bf6e",
        "name": "",
        "func": "var newMsg = {};\nnewMsg.payload = {\n    \"Brightness\":msg.payload\n};\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 855,
        "y": 1140,
        "wires": [
            [
                "141d9d9f5d350d73"
            ]
        ],
        "l": false
    },
    {
        "id": "1b7c2161eb3f9ab2",
        "type": "function",
        "z": "d60a5ec574524af9",
        "g": "efafb19ad9a0bf6e",
        "name": "",
        "func": "if (msg.hap.context === undefined) {\n    return null;\n}\n\nif (\"Brightness\" in msg.payload) {\n    msg.payload = msg.payload.Brightness;\n    return [null, msg]\n} else if (\"On\" in msg.payload) {\n    msg.payload = msg.payload.On?1:0;\n    return [msg, null];\n\n}\nreturn null;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1075,
        "y": 1140,
        "wires": [
            [
                "27c85eb4fc50fc3e"
            ],
            [
                "27c85eb4fc50fc3e",
                "9c190eabe592f57f"
            ]
        ],
        "l": false
    },
    {
        "id": "27c85eb4fc50fc3e",
        "type": "function",
        "z": "d60a5ec574524af9",
        "g": "efafb19ad9a0bf6e",
        "name": "",
        "func": "msg.payload = msg.payload>0?1:0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1235,
        "y": 1140,
        "wires": [
            [
                "91e80284194dfb61"
            ]
        ],
        "l": false
    },
    {
        "id": "2f4d491ad4152da9",
        "type": "function",
        "z": "d60a5ec574524af9",
        "g": "efafb19ad9a0bf6e",
        "name": "",
        "func": "var newMsg = {};\nnewMsg.payload = {\n    \"On\":msg.payload>0\n};\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 855,
        "y": 1220,
        "wires": [
            [
                "141d9d9f5d350d73"
            ]
        ],
        "l": false
    },
    {
        "id": "9c190eabe592f57f",
        "type": "switch",
        "z": "d60a5ec574524af9",
        "g": "efafb19ad9a0bf6e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1235,
        "y": 1220,
        "wires": [
            [
                "3a656746e7cda095"
            ]
        ],
        "l": false
    },
    {
        "id": "e586ba9bf73eb4f6",
        "type": "switch",
        "z": "d60a5ec574524af9",
        "g": "efafb19ad9a0bf6e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 555,
        "y": 1180,
        "wires": [
            [
                "74a7f241740d6b36"
            ]
        ],
        "l": false
    },
    {
        "id": "74a7f241740d6b36",
        "type": "wirenboard-get",
        "z": "d60a5ec574524af9",
        "g": "efafb19ad9a0bf6e",
        "name": "Brightness",
        "server": "e72d9d72.a206",
        "channel": [
            "/devices/wb-mrgb_172/controls/Brightness W",
            "/devices/wb-mrgb_29/controls/Brightness W"
        ],
        "x": 670,
        "y": 1180,
        "wires": [
            [
                "6f454a2f32f36fcf"
            ]
        ]
    },
    {
        "id": "88b7c5fa3fe565bc",
        "type": "wirenboard-in",
        "z": "d60a5ec574524af9",
        "g": "efafb19ad9a0bf6e",
        "name": "Enable",
        "server": "e72d9d72.a206",
        "channel": [
            "/devices/wb-mrgb_29/controls/Enable W"
        ],
        "outputAtStartup": true,
        "x": 410,
        "y": 1220,
        "wires": [
            [
                "2f4d491ad4152da9",
                "e586ba9bf73eb4f6"
            ]
        ]
    },
    {
        "id": "fc479964a0636e92",
        "type": "wirenboard-in",
        "z": "d60a5ec574524af9",
        "g": "efafb19ad9a0bf6e",
        "name": "Brightness",
        "server": "e72d9d72.a206",
        "channel": [
            "/devices/wb-mrgb_29/controls/Brightness W"
        ],
        "outputAtStartup": true,
        "x": 420,
        "y": 1140,
        "wires": [
            [
                "6f454a2f32f36fcf"
            ]
        ]
    },
    {
        "id": "91e80284194dfb61",
        "type": "wirenboard-out",
        "z": "d60a5ec574524af9",
        "g": "efafb19ad9a0bf6e",
        "name": "Enable",
        "server": "e72d9d72.a206",
        "channel": [
            "/devices/wb-mrgb_29/controls/Enable W"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "x": 1370,
        "y": 1140,
        "wires": []
    },
    {
        "id": "3a656746e7cda095",
        "type": "wirenboard-out",
        "z": "d60a5ec574524af9",
        "g": "efafb19ad9a0bf6e",
        "name": "Brightness",
        "server": "e72d9d72.a206",
        "channel": [
            "/devices/wb-mrgb_29/controls/Brightness W"
        ],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "x": 1390,
        "y": 1220,
        "wires": []
    },
    {
        "id": "99f95ec8.0cb0c",
        "type": "homekit-bridge",
        "bridgeName": "Node-red",
        "pinCode": "111-11-111",
        "port": "",
        "allowInsecureRequest": false,
        "manufacturer": "NRCHKB",
        "model": "1.2.0",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.2.0",
        "hardwareRev": "1.2.0",
        "softwareRev": "1.2.0",
        "customMdnsConfig": false,
        "mdnsMulticast": true,
        "mdnsInterface": "",
        "mdnsPort": "",
        "mdnsIp": "",
        "mdnsTtl": "",
        "mdnsLoopback": true,
        "mdnsReuseAddr": true,
        "allowMessagePassthrough": true
    },
    {
        "id": "e72d9d72.a206",
        "type": "wirenboard-server",
        "name": "WirenBoard",
        "host": "192.168.1.3",
        "mqtt_port": "",
        "mqtt_username": "",
        "mqtt_password": ""
    }
]
