examples/Homekit WB-RGBW (3_0) 1-channel.json
[
    {
        "id": "0931ad84ac322f51",
        "type": "group",
        "z": "d60a5ec574524af9",
        "name": "WB-RGBW 1-channel",
        "style": {
            "fill": "#ffffbf",
            "fill-opacity": "0.5",
            "label": true
        },
        "nodes": [
            "4691b70a9cafba4f",
            "2b0cc42f31f11108",
            "5a620189aa7202ba",
            "5703f9cffc81e0d4",
            "e1983889e70a2ad7",
            "5df4c0e869eaf5d6"
        ],
        "env": [],
        "x": 274,
        "y": 979,
        "w": 772,
        "h": 142
    },
    {
        "id": "4691b70a9cafba4f",
        "type": "wirenboard-in",
        "z": "d60a5ec574524af9",
        "g": "0931ad84ac322f51",
        "name": "Enable+Brightness",
        "server": "e72d9d72.a206",
        "channel": [],
        "outputAtStartup": true,
        "x": 390,
        "y": 1040,
        "wires": [
            [
                "e1983889e70a2ad7"
            ]
        ]
    },
    {
        "id": "2b0cc42f31f11108",
        "type": "wirenboard-out",
        "z": "d60a5ec574524af9",
        "g": "0931ad84ac322f51",
        "name": "Brightness",
        "server": "e72d9d72.a206",
        "channel": [],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "rbe": false,
        "x": 950,
        "y": 1080,
        "wires": []
    },
    {
        "id": "5a620189aa7202ba",
        "type": "wirenboard-out",
        "z": "d60a5ec574524af9",
        "g": "0931ad84ac322f51",
        "name": "Enable",
        "server": "e72d9d72.a206",
        "channel": [],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "rbe": false,
        "x": 930,
        "y": 1020,
        "wires": []
    },
    {
        "id": "5703f9cffc81e0d4",
        "type": "function",
        "z": "d60a5ec574524af9",
        "g": "0931ad84ac322f51",
        "name": "from Homekit",
        "func": "if (msg.hap.context === undefined) {\n    return [null, null];\n}\n\nlet msgOn = null;\nlet msgBri = null;\n\nif (\"Brightness\" in msg.payload) {\n    if (msg.payload.Brightness > 0) {\n        msgOn = { \"payload\": 1 };\n        msgBri = { \"payload\": msg.payload.Brightness };\n        return [msgOn, msgBri]\n    } else {\n        msgOn = { \"payload\": 0 };\n        return [msgOn, msgBri];\n    }\n\n} else if (\"On\" in msg.payload) {\n    msgOn = { \"payload\": msg.payload.On ? 1 : 0};\n    return [msgOn, msgBri];\n}\n\nreturn [null, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 815,
        "y": 1040,
        "wires": [
            [
                "5a620189aa7202ba"
            ],
            [
                "2b0cc42f31f11108"
            ]
        ],
        "l": false
    },
    {
        "id": "e1983889e70a2ad7",
        "type": "function",
        "z": "d60a5ec574524af9",
        "g": "0931ad84ac322f51",
        "name": "to Homekit",
        "func": "//на входе должно быть два топика с enable и brightness\n\nlet isOn = 0;\nlet bri = 100;\n\nfor (var i in msg.data_array) {\n    var item = msg.data_array[i];\n    if ((item.topic).split('enable').length > 1) {\n        isOn = parseInt(item.payload);\n    } else if ((item.topic).split('brightness').length > 1) {\n        bri = parseInt(item.payload);\n    }\n}\n\nvar newMsg = {};\nnewMsg.payload = {\n    \"On\": isOn,\n    \"Brightness\": bri\n};\n\nreturn newMsg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 535,
        "y": 1040,
        "wires": [
            [
                "5df4c0e869eaf5d6"
            ]
        ],
        "l": false
    },
    {
        "id": "5df4c0e869eaf5d6",
        "type": "homekit-service",
        "z": "d60a5ec574524af9",
        "g": "0931ad84ac322f51",
        "isParent": true,
        "hostType": "0",
        "bridge": "99f95ec8.0cb0c",
        "accessoryId": "",
        "parentService": "",
        "name": "Световые линии",
        "serviceName": "Lightbulb",
        "topic": "",
        "filter": false,
        "manufacturer": "Тамбур, световые линии",
        "model": "rgbw",
        "serialNo": "171-w",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{    \"Brightness\":{        \"maxValue\": 100,        \"minValue\": 0,        \"minStep\": 1    }}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 670,
        "y": 1040,
        "wires": [
            [
                "5703f9cffc81e0d4"
            ],
            []
        ]
    },
    {
        "id": "e72d9d72.a206",
        "type": "wirenboard-server",
        "name": "WirenBoard",
        "host": "192.168.1.3",
        "mqtt_port": "",
        "mqtt_username": "",
        "mqtt_password": ""
    },
    {
        "id": "99f95ec8.0cb0c",
        "type": "homekit-bridge",
        "bridgeName": "Node-red",
        "pinCode": "111-11-111",
        "port": "",
        "allowInsecureRequest": false,
        "manufacturer": "NRCHKB",
        "model": "1.2.0",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.2.0",
        "hardwareRev": "1.2.0",
        "softwareRev": "1.2.0",
        "customMdnsConfig": false,
        "mdnsMulticast": true,
        "mdnsInterface": "",
        "mdnsPort": "",
        "mdnsIp": "",
        "mdnsTtl": "",
        "mdnsLoopback": true,
        "mdnsReuseAddr": true,
        "allowMessagePassthrough": true
    }
]
