examples/Homekit LED channel.json
[{"id":"918a66b4.455c18","type":"group","z":"a10a511b.22575","name":"","style":{"fill":"#ffffbf","label":true,"fill-opacity":"0.5"},"nodes":["cbd5fcc5.01b69","e285e771.d21a48","5db1acea.6595e4","32ded71c.a2a738","7bd7e429.f578dc","73f52a76.848684","7b76aee7.2d52b","bc2dff69.a0d14","12e015ac.636f2a","2c508f06.0e14b","1283be59.53f382","4e195ce2.46cc44","b91dd7cb.551878","e2ab822b.7c39d"],"x":94,"y":4059,"w":1152,"h":162},{"id":"cbd5fcc5.01b69","type":"range","z":"a10a511b.22575","g":"918a66b4.455c18","minin":"0","maxin":"255","minout":"0","maxout":"100","action":"clamp","round":true,"property":"payload","name":"","x":555,"y":4100,"wires":[["32ded71c.a2a738"]],"l":false},{"id":"e285e771.d21a48","type":"range","z":"a10a511b.22575","g":"918a66b4.455c18","minin":"0","maxin":"100","minout":"0","maxout":"255","action":"clamp","round":true,"property":"payload","name":"","x":915,"y":4180,"wires":[["bc2dff69.a0d14","73f52a76.848684"]],"l":false},{"id":"5db1acea.6595e4","type":"homekit-service","z":"a10a511b.22575","g":"918a66b4.455c18","isParent":true,"bridge":"99f95ec8.0cb0c","parentService":"","name":"Bulb","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","firmwareRev":"","hardwareRev":"","softwareRev":"","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{    \"Brightness\":{        \"maxValue\": 100,        \"minValue\": 0,        \"minStep\": 1    }}","waitForSetupMsg":false,"outputs":2,"x":730,"y":4100,"wires":[["7bd7e429.f578dc"],[]]},{"id":"32ded71c.a2a738","type":"function","z":"a10a511b.22575","g":"918a66b4.455c18","name":"","func":"var newMsg = {};\nnewMsg.payload = {\n    \"Brightness\":msg.payload\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":615,"y":4100,"wires":[["5db1acea.6595e4"]],"l":false},{"id":"7bd7e429.f578dc","type":"function","z":"a10a511b.22575","g":"918a66b4.455c18","name":"","func":"if (msg.hap.context === undefined) {\n    return null;\n}\n\nif (\"Brightness\" in msg.payload) {\n    msg.payload = msg.payload.Brightness;\n    return [null, msg]\n} else if (\"On\" in msg.payload) {\n    msg.payload = msg.payload.On?1:0;\n    return [msg, null];\n\n}\nreturn null;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":835,"y":4100,"wires":[["73f52a76.848684"],["e285e771.d21a48"]],"l":false},{"id":"73f52a76.848684","type":"function","z":"a10a511b.22575","g":"918a66b4.455c18","name":"","func":"msg.payload = msg.payload>0?1:0;\nreturn msg;","outputs":1,"noerr":0,"x":995,"y":4100,"wires":[["b91dd7cb.551878"]],"l":false},{"id":"7b76aee7.2d52b","type":"function","z":"a10a511b.22575","g":"918a66b4.455c18","name":"","func":"var newMsg = {};\nnewMsg.payload = {\n    \"On\":msg.payload>0\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":615,"y":4180,"wires":[["5db1acea.6595e4"]],"l":false},{"id":"bc2dff69.a0d14","type":"switch","z":"a10a511b.22575","g":"918a66b4.455c18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":995,"y":4180,"wires":[["e2ab822b.7c39d"]],"l":false},{"id":"12e015ac.636f2a","type":"switch","z":"a10a511b.22575","g":"918a66b4.455c18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":315,"y":4140,"wires":[["2c508f06.0e14b"]],"l":false},{"id":"2c508f06.0e14b","type":"wirenboard-get","z":"a10a511b.22575","g":"918a66b4.455c18","name":"Brightness","server":"e72d9d72.a206","channel":["/devices/wb-mrgb_172/controls/Brightness W","/devices/wb-mrgb_29/controls/Brightness W"],"x":430,"y":4140,"wires":[["cbd5fcc5.01b69"]]},{"id":"1283be59.53f382","type":"wirenboard-in","z":"a10a511b.22575","g":"918a66b4.455c18","name":"Enable","server":"e72d9d72.a206","channel":["/devices/wb-mrgb_29/controls/Enable W"],"outputAtStartup":true,"x":170,"y":4180,"wires":[["7b76aee7.2d52b","12e015ac.636f2a"]]},{"id":"4e195ce2.46cc44","type":"wirenboard-in","z":"a10a511b.22575","g":"918a66b4.455c18","name":"Brightness","server":"e72d9d72.a206","channel":["/devices/wb-mrgb_29/controls/Brightness W"],"outputAtStartup":true,"x":180,"y":4100,"wires":[["cbd5fcc5.01b69"]]},{"id":"b91dd7cb.551878","type":"wirenboard-out","z":"a10a511b.22575","g":"918a66b4.455c18","name":"Enable","server":"e72d9d72.a206","channel":["/devices/wb-mrgb_29/controls/Enable W"],"command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":1130,"y":4100,"wires":[]},{"id":"e2ab822b.7c39d","type":"wirenboard-out","z":"a10a511b.22575","g":"918a66b4.455c18","name":"Brightness","server":"e72d9d72.a206","channel":["/devices/wb-mrgb_29/controls/Brightness W"],"command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":1150,"y":4180,"wires":[]},{"id":"99f95ec8.0cb0c","type":"homekit-bridge","bridgeName":"Node-red","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true,"allowMessagePassthrough":true},{"id":"e72d9d72.a206","type":"wirenboard-server","name":"WirenBoard","host":"192.168.1.3","mqtt_port":"","mqtt_username":"","mqtt_password":""}]