examples/Homekit WB-RGBW (3_0) CCT-channel.json
[
    {
        "id": "fe7b496470c355d2",
        "type": "group",
        "z": "d60a5ec574524af9",
        "name": "WB-RGBW CCT-channel",
        "style": {
            "stroke": "#a4a4a4",
            "fill-opacity": "0.5",
            "label": true,
            "fill": "#ffffbf"
        },
        "nodes": [
            "b658aa9906e15366",
            "05c59dc537291849",
            "73fff3c48321a9a0",
            "2a4886740902f305",
            "d691fe050d85674f",
            "25583856d25311a2",
            "a84a9f8e9b3edafb"
        ],
        "env": [],
        "x": 334,
        "y": 819,
        "w": 772,
        "h": 202
    },
    {
        "id": "b658aa9906e15366",
        "type": "wirenboard-in",
        "z": "d60a5ec574524af9",
        "g": "fe7b496470c355d2",
        "name": "enable+bri+temp",
        "server": "e72d9d72.a206",
        "channel": [],
        "outputAtStartup": true,
        "x": 440,
        "y": 920,
        "wires": [
            [
                "05c59dc537291849"
            ]
        ]
    },
    {
        "id": "05c59dc537291849",
        "type": "function",
        "z": "d60a5ec574524af9",
        "g": "fe7b496470c355d2",
        "name": "to homekit",
        "func": "//на входе должно быть три топика enable/brightness/temperature\n\n\nlet isOn = 0;\nlet bri = 100;\nlet ct = 50;\n\nfor (var i in msg.data_array) {\n    var item = msg.data_array[i];\n    if ((item.topic).split('enable').length > 1) {\n        isOn = parseInt(item.payload);\n    } else if ((item.topic).split('brightness').length > 1) {\n        bri = parseInt(item.payload);\n    } else if ((item.topic).split('temperature').length > 1) {\n        ct = parseInt(item.payload);\n    }\n}\n\nlet ctHomekit = convertRange(ct, [0, 100], [140, 500]);\nctHomekit = 500 - ctHomekit + 140;\n\nvar newMsg = {};\nnewMsg.payload_in = msg.payload;\nnewMsg.payload = {\n    \"Brightness\": bri,\n    \"On\":isOn,\n    \"ColorTemperature\": ctHomekit\n};\n\nreturn newMsg;\n\n\nfunction convertRange(value, r1, r2) {\n    var val = Math.ceil((value - r1[0]) * (r2[1] - r2[0]) / (r1[1] - r1[0]) + r2[0]);\n    if (val < r2[0]) val = r2[0];\n    if (val > r2[1]) val = r2[1];\n    return val;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 575,
        "y": 920,
        "wires": [
            [
                "73fff3c48321a9a0"
            ]
        ],
        "l": false
    },
    {
        "id": "73fff3c48321a9a0",
        "type": "homekit-service",
        "z": "d60a5ec574524af9",
        "g": "fe7b496470c355d2",
        "isParent": true,
        "hostType": "0",
        "bridge": "99f95ec8.0cb0c",
        "accessoryId": "",
        "parentService": "",
        "name": "Люстра",
        "serviceName": "Lightbulb",
        "topic": "",
        "filter": false,
        "manufacturer": "Детская, люстра",
        "model": "rgbw",
        "serialNo": "27-r + 27-b",
        "firmwareRev": "",
        "hardwareRev": "",
        "softwareRev": "",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{\"Brightness\":{\"maxValue\":100,\"minValue\":0,\"minStep\":1},\"ColorTemperature\":{}}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 680,
        "y": 920,
        "wires": [
            [
                "2a4886740902f305"
            ],
            []
        ]
    },
    {
        "id": "2a4886740902f305",
        "type": "function",
        "z": "d60a5ec574524af9",
        "g": "fe7b496470c355d2",
        "name": "from homekit",
        "func": "if (msg.hap.context === undefined) {\n    return null;\n}\n\nif (\"Brightness\" in msg.payload) {\n    return [\n        { \"payload\": msg.payload.Brightness > 0 ? 1 : 0 },\n        msg.payload.Brightness>0?{ \"payload\": msg.payload.Brightness}:null, \n        null\n    ];\n} else if (\"On\" in msg.payload) {\n    msg.payload = msg.payload.On?1:0;\n    return [msg, null, null];\n} else if (\"ColorTemperature\" in msg.payload) {\n    msg.payload = msg.payload.ColorTemperature;\n    msg.payload = 100 - convertRange(msg.payload, [140, 500], [0, 100]);\n    return [null, null, msg];\n}\nreturn null;\n\n\nfunction convertRange(value, r1, r2) {\n    var val = Math.ceil((value - r1[0]) * (r2[1] - r2[0]) / (r1[1] - r1[0]) + r2[0]);\n    if (val < r2[0]) val = r2[0];\n    if (val > r2[1]) val = r2[1];\n    return val;\n}",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 795,
        "y": 920,
        "wires": [
            [
                "d691fe050d85674f"
            ],
            [
                "25583856d25311a2"
            ],
            [
                "a84a9f8e9b3edafb"
            ]
        ],
        "l": false
    },
    {
        "id": "d691fe050d85674f",
        "type": "wirenboard-out",
        "z": "d60a5ec574524af9",
        "g": "fe7b496470c355d2",
        "name": "cct enable",
        "server": "e72d9d72.a206",
        "channel": [],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "rbe": false,
        "x": 990,
        "y": 860,
        "wires": []
    },
    {
        "id": "25583856d25311a2",
        "type": "wirenboard-out",
        "z": "d60a5ec574524af9",
        "g": "fe7b496470c355d2",
        "name": "cct brightness",
        "server": "e72d9d72.a206",
        "channel": [],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "rbe": false,
        "x": 1000,
        "y": 920,
        "wires": []
    },
    {
        "id": "a84a9f8e9b3edafb",
        "type": "wirenboard-out",
        "z": "d60a5ec574524af9",
        "g": "fe7b496470c355d2",
        "name": "cct temperature",
        "server": "e72d9d72.a206",
        "channel": [],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "rbe": false,
        "x": 1000,
        "y": 980,
        "wires": []
    },
    {
        "id": "e72d9d72.a206",
        "type": "wirenboard-server",
        "name": "WirenBoard",
        "host": "192.168.1.3",
        "mqtt_port": "",
        "mqtt_username": "",
        "mqtt_password": ""
    },
    {
        "id": "99f95ec8.0cb0c",
        "type": "homekit-bridge",
        "bridgeName": "Node-red",
        "pinCode": "111-11-111",
        "port": "",
        "allowInsecureRequest": false,
        "manufacturer": "NRCHKB",
        "model": "1.2.0",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.2.0",
        "hardwareRev": "1.2.0",
        "softwareRev": "1.2.0",
        "customMdnsConfig": false,
        "mdnsMulticast": true,
        "mdnsInterface": "",
        "mdnsPort": "",
        "mdnsIp": "",
        "mdnsTtl": "",
        "mdnsLoopback": true,
        "mdnsReuseAddr": true,
        "allowMessagePassthrough": true
    }
]
