examples/Motion light auto.json
[
    {
        "id": "0de6ec80e4198cfd",
        "type": "group",
        "z": "d60a5ec574524af9",
        "name": "WB-MSW v3 - Свет по движению",
        "style": {
            "label": true
        },
        "nodes": [
            "db84e4c6.009fe8",
            "286906cd.0a292a",
            "786a5d17.972364",
            "f9406c0.1f56e98",
            "643c0628.2090d8",
            "ce16b2ab.0f1ba",
            "95490f04.d54cb",
            "bef3a2f7.6fff3",
            "6e72570f.9f8ee8"
        ],
        "env": [],
        "x": 174,
        "y": 679,
        "w": 992,
        "h": 162
    },
    {
        "id": "db84e4c6.009fe8",
        "type": "wirenboard-get",
        "z": "d60a5ec574524af9",
        "g": "0de6ec80e4198cfd",
        "name": "lux",
        "server": "",
        "channel": [],
        "x": 610,
        "y": 800,
        "wires": [
            [
                "286906cd.0a292a"
            ]
        ]
    },
    {
        "id": "286906cd.0a292a",
        "type": "switch",
        "z": "d60a5ec574524af9",
        "g": "0de6ec80e4198cfd",
        "name": "<5",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "5",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 730,
        "y": 800,
        "wires": [
            [
                "6e72570f.9f8ee8"
            ]
        ]
    },
    {
        "id": "786a5d17.972364",
        "type": "wirenboard-out",
        "z": "d60a5ec574524af9",
        "g": "0de6ec80e4198cfd",
        "name": "Bulb",
        "server": "",
        "channel": [],
        "command": "/on",
        "commandType": "wb_cmd",
        "payload": "payload",
        "payloadType": "msg",
        "rbe": true,
        "x": 1090,
        "y": 760,
        "wires": []
    },
    {
        "id": "f9406c0.1f56e98",
        "type": "switch",
        "z": "d60a5ec574524af9",
        "g": "0de6ec80e4198cfd",
        "name": ">50",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "50",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 800,
        "wires": [
            [
                "db84e4c6.009fe8"
            ]
        ]
    },
    {
        "id": "643c0628.2090d8",
        "type": "wirenboard-in",
        "z": "d60a5ec574524af9",
        "g": "0de6ec80e4198cfd",
        "name": "Current motion",
        "server": "",
        "channel": [],
        "outputAtStartup": true,
        "x": 280,
        "y": 800,
        "wires": [
            [
                "f9406c0.1f56e98"
            ]
        ]
    },
    {
        "id": "ce16b2ab.0f1ba",
        "type": "wirenboard-in",
        "z": "d60a5ec574524af9",
        "g": "0de6ec80e4198cfd",
        "name": "Max Motion",
        "server": "",
        "channel": [],
        "outputAtStartup": true,
        "x": 290,
        "y": 720,
        "wires": [
            [
                "95490f04.d54cb"
            ]
        ]
    },
    {
        "id": "95490f04.d54cb",
        "type": "switch",
        "z": "d60a5ec574524af9",
        "g": "0de6ec80e4198cfd",
        "name": "<20",
        "property": "math.max",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "20",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 720,
        "wires": [
            [
                "bef3a2f7.6fff3"
            ]
        ]
    },
    {
        "id": "bef3a2f7.6fff3",
        "type": "change",
        "z": "d60a5ec574524af9",
        "g": "0de6ec80e4198cfd",
        "name": "=0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 720,
        "wires": [
            [
                "786a5d17.972364"
            ]
        ]
    },
    {
        "id": "6e72570f.9f8ee8",
        "type": "change",
        "z": "d60a5ec574524af9",
        "g": "0de6ec80e4198cfd",
        "name": "=1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 800,
        "wires": [
            [
                "786a5d17.972364"
            ]
        ]
    }
]
